<!doctype html>
<html lang="en">
<body>
<div class="container">
    <div class="row">

        <div >
            <img src="{{ url_for('video_feed', id='0') }}" >
            <img src="{{ url_for('video_feed', id='1') }}" >
            <img src="{{ url_for('video_feed', id='2') }}" >
            <img src="{{ url_for('video_feed', id='3') }}" >
            <img src="{{ url_for('video_feed', id='4') }}" >
            <img src="{{ url_for('video_feed', id='5') }}" >
         
        </div>


    </div>
</div>
</body>
</html>
